@import '../../../../variables/variables.sass'

.card
  padding: 20px
  width: 100%
  margin: 3% auto
  +medium
    width: 100%

  .input-group
    margin: 10px 0px
.div-btns
    display: flex
    justify-content: space-around
    margin: 10px 0px
    button
        width: 30%
.validation-error
    color: red
    margin: 10px 0px
    font-size: 14px
.loaded
  text-align: center
.ui-switch
  text-align: center
.input-row
  margin: 20px 0px
/deep/ .dropdown-menu.show
  width: 92%
.margin
  margin-bottom: 15px
.fa-search
    position: absolute
    z-index: 99
    top: 10px
    right: 4%
    color: gray

td,th
  text-align: center
