<div class="container">
    <div class="card">
        <div class="row">
            <!-- <div class="input-group">
                <div class="col-sm-3">
                    <label for="">Active</label>
                </div>

                <div class="col-sm-9">
                    <ui-switch size="small" color="#17a2b8" defaultBgColor="#d6d2d2" [(ngModel)]="active" (change)="onChangeSwitchToggle($event)">
                    </ui-switch>
                </div>
            </div> -->

            <div class="input-group">
                <div class="col-sm-3" style="margin: auto">
                    <label for="">Customer</label>
                </div>

                <div class="col-sm-9">

                    <div class="search-div">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search "></i></span>
                            <input type="text" name="" id="" class="form-control" (selectItem)="onChange($event)" [ngbTypeahead]="search" [(ngModel)]="singleCustomerName" placeholder="Select Customer" (click)="click$.next($any($event).target.value)" (focus)="focus$.next($any($event).target.value)"
                                #instance="ngbTypeahead" />
                            <!-- <app-auto-complate-search [dataSource]="searchCustomer" (selectedData)="ResiveCustomer($event)" [from]="'plan'" [placeholderValue]="'Select Station'">
                            </app-auto-complate-search> -->
                        </div>
                    </div>

                </div>
            </div>

            <div class="input-group col-12">
                <!-- <div class="col-sm-3">
                    <label for=""></label>
                </div>

                <div class="col-sm-12 ">
                    <div class="row">
                        <div class="col-sm-6 margin" *ngFor="let a of arrayOfCustomers; let i = index">
                            <button class="btn btn-light">
                                 <i class="fa fa-close"
                                    (click)="handleSpliceArrayOfCustomer(a.customerCode, i)">
                                  </i>
                                  {{ a.name1 }}
                            </button>
                        </div>
                    </div> -->
                <div class="table-responsive-md col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer Name</th>
                                <!-- <th>Adress</th> -->
                                <th>Deactive</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of arrayOfCustomers; let i = index">
                                <td>{{i+1}}</td>
                                <td scope="row">{{ a.name1 }}</td>
                                <!-- <td>{{a.address}}</td> -->
                                <td><i class="fa fa-close" (click)="handleSpliceArrayOfCustomer(a.customerCode, i)"></i></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="messages">
            <div class="alert alert-success" role="alert" *ngIf="success">
                {{ Responsemessage }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{ Responsemessage }}
            </div>
        </div>
        <div class="div-btns">
            <button class="btn btn-light" (click)="onPressBack()">Back</button>
            <button class="btn btn-dark" (click)="handleFinish()">Finish</button>
        </div>
    </div>