<div class="card">
  <h4>Station Contacts</h4>
  <div class="row">
    <div
      class="col-sm-4 customers"
      *ngFor="let a of arrayOfContacts; let i = index"
    >
      <a
        href=""
        data-toggle="modal"
        data-target="#myModalContactEdit"
        (click)="onPressEditContact(a, i)"
      >
        ({{ i + 1 }}) {{ a.name }}</a
      >
      <i
        class="fa fa-close"
        (click)="onPressSpliceArrayOfContacts(a.contactId, i)"
        *ngIf="router.url.includes('edit-customer')"

      ></i>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-info"
    data-toggle="modal"
    data-target="#myModalContact"
    (click)="resetAllValues()"
    *ngIf="router.url.includes('edit-customer')"
  >
    Add New Contact
  </button>
</div>

<div class="modal" id="myModalContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Contact</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Active</label>
            </div>

            <div class="col-sm-9">
              <ui-switch
                size="small"
                color="#17a2b8"
                defaultBgColor="#d6d2d2"
                [(ngModel)]="customerContact.active"

              ></ui-switch>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Mobile</label>
            </div>

            <div class="col-sm-9">
              <input
                type="number"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.mobile"
                placeholder="Mobile"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Name</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.name"
                placeholder="Name"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Telephone</label>
            </div>

            <div class="col-sm-9">
              <input
                type="tel"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.telephone"
                placeholder="Telephone"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Title</label>
            </div>

            <div class="col-sm-9">
              <input
                type="tel"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.title"
                placeholder="Title"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="onPressAdd()"
        >
          Add
        </button>

        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="resetAllValues()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModalContactEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Contact</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Active</label>
            </div>

            <div class="col-sm-9">
              <ui-switch
                size="small"
                color="#17a2b8"
                defaultBgColor="#d6d2d2"
                [(ngModel)]="customerContact.active"
                [disabled]="router.url.includes('view-customer')"
              ></ui-switch>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Mobile</label>
            </div>

            <div class="col-sm-9">
              <input
                type="number"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.mobile"
                placeholder="Mobile"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Name</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.name"
                placeholder="Name"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Telephone</label>
            </div>

            <div class="col-sm-9">
              <input
                type="tel"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.telephone"
                placeholder="Telephone"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Title</label>
            </div>

            <div class="col-sm-9">
              <input
                type="tel"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerContact.title"
                placeholder="Title"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="onPressEdit()"
          *ngIf="router.url.includes('edit-customer')"

        >
          Edit
        </button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
