<div class="login-section">
    <div class="card ">
        <div class="card-body">
            <h4 class="logo">VEye</h4>

            <div class="alert alert-success" role="alert" *ngIf="success">
                {{Responsemessage}}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{Responsemessage}}
            </div>
            <div class="row">
                <div class="input-group">
                    <div class="col-sm-3">
                        <label for="">User Name</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="name" autocomplete="off" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-sm-3">
                        <label for="">Password</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" autocomplete="off" required (keyup.enter)="handelPressLogin()"></div>
                </div>

            </div>
            <div class="btn-login">
                <button class="btn btn-info" [disabled]="!name || !password" (click)="handelPressLogin()">Login</button>
            </div>

        </div>
    </div>
</div>
