.input-group
    margin: 20px 
.card
    width: 50%
    text-align: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.btn-login
    display: flex
    justify-content: center
    button 
        width: 50%
.logo
    text-align: center
    color: rgba(214, 113, 113, 0.9)
    font-family: cursive
.alert-danger
    margin: 10px 0px 