<div class="container">
    <div class="card" *ngIf="!loaded">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="input-group">
                        <div class="col-sm-4">
                            Active
                        </div>
                        <div class="col-sm-8 ui-switch">
                            <ui-switch size="small" color="#17a2b8" defaultBgColor="#d6d2d2" [(ngModel)]="territory.active"></ui-switch>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-4">
                            <label for="">Name</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" name="" id="" class="form-control" autocomplete="off" [(ngModel)]="territory.name1" placeholder="Name" />
                        </div>
                    </div>

                    <!-- <div class="input-group">
            <div class="col-sm-4">
              <label for="">Country</label>
            </div>
            <div class="col-sm-8">
              <app-auto-complate-search
                [dataSource]="countriesName"
                [from]="'country'"
                (selectedData)="onChange($event)"
                [name]="territory?.country?.countryName"
                [placeholderValue]="'Select Country'"
              >
              </app-auto-complate-search>
            </div>
          </div> -->

                    <div class="input-group">
                        <div class="col-sm-4">
                            <label for="">Governoment</label>
                        </div>
                        <div class="col-sm-8">
                            <app-auto-complate-search [dataSource]="goverNames" [from]="'governoment'" (selectedData)="onChange($event)" [name]="territory?.governorate?.governorateName" [placeholderValue]="'Select Govenoment'">
                            </app-auto-complate-search>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-4">
                            <label for="">Area</label>
                        </div>
                        <div class="col-sm-8">
                            <app-auto-complate-search [dataSource]="regionsNames" [from]="'region'" (selectedData)="onChange($event)" [name]="territory?.region?.regionName" [placeholderValue]="'Select Region'">
                            </app-auto-complate-search>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-4">
                            <label for="">Map Location</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="checkbox" [(ngModel)]="theCheckbox" data-md-icheck (change)="toggleVisibility($event)" />
                        </div>
                        <!-- <mat-checkbox>Check me!</mat-checkbox> -->

                    </div>








                </div>
            </div>
            <div class="col-sm-12" *ngIf="marked">
                <app-root-map [currentLat]="territory.latitude" [curreentLng]="territory.longitude" (sendLatLng)="onChangeLatLng($event)"></app-root-map>


            </div>
        </div>
    </div>
    <div class="messages">
        <div class="alert alert-success" role="alert" *ngIf="success">
            {{ Responsemessage }}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{ Responsemessage }}
        </div>
    </div>
    <div class="div-btns" *ngIf="!loaded">
        <button class="btn btn-dark" [disabled]="!territory.name1 || !territorySalesData.id.companyCode " (click)="handleNext()">Next</button>
    </div>
</div>
<div class="loaded" *ngIf="loaded">
    <app-loader></app-loader>
</div>