<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6">
      <app-calender
        [customerTime]="customerTime"
        [resetAllValues]= "resetAllValues"
        (selectedTime)="ReciveTime($event)"
       (sendDate)="ReciveDate($event)"
       (spliceCustomer)="handleSpliceCustomerArray($event)"
       ></app-calender>
    </div> -->

        <div class="col-sm-12" *ngIf="pressOK">
            <div class="btn-cancle">
                <button type="button" class="btn btn-info " (click)="onPressToRestValue()">
          {{territoryName}}
          <i class="fa fa-close"></i>
        </button>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" *ngIf="!pressOK">
            <div class="card">
                <div class="row">


                    <div class="input-group">
                        <div class="col-sm-2">
                            <label for="">Repeat</label>
                        </div>
                        <div class="col-sm-10">
                            <select name="" id="" class="form-control select" (change)="onSelectRepeatedValue($event)">
                <option value="No Repeat">No Repeat</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
              </select>
                        </div>
                    </div>

                    <div class="input-group" *ngIf="repeatedValue == 'Daily' || repeatedValue == 'Weekly' || repeatedValue == 'Monthly' ">
                        <div class="col-sm-2">
                            <label for="">From</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="" id="" class="form-control" [(ngModel)]="from" placeholder="From" (change)="onSelectDate('from', $event)" [min]="currentDayDate">
                        </div>
                        <div class="col-sm-2">
                            <label for="">To</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="" id="" class="form-control" [(ngModel)]="to" placeholder="To" (change)="onSelectDate('to', $event)" [min]="currentDayDate">
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-2" style="margin: auto">
                            <label for="">Route</label>
                        </div>
                        <div class="col-sm-10">


                            <div class="search-div">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                                    <input type="text" name="" id="" class="form-control" (keyup)="SearchFrom('searchTerritory')" (selectItem)="onChange($event, 'searchTerritory')" [ngbTypeahead]="search" placeholder="Select Route" />
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="input-group" *ngIf="arrayOfCustomerSelected.length > 0">
            <div class="col-sm-4">
              <label for="">Selected Customers</label>
            </div>
            <div class="col-sm-12 ">
              <div
                id="accordion"
                *ngFor="let a of arrayOfCustomerSelected; let i = index"
                (drop)="drop($event, i)"
                (dragover)="allowDrop($event)"
                (dragstart)="dragStart($event, i)"
                draggable="true"
              >
                <div>
                  <div class="card-header">
                    <div>
                      <a
                        class="card-link"
                        data-toggle="collapse"
                        href="#collapseOne"
                        [attr.data-target]="'#' + a.customerCode + i"
                      >
                        {{ a.customerName }}
                      </a>
                    </div>
                    <button
                      class="btn btn-light"
                      (click)="handleSpliceCustomerArray(a, i)"
                    >
                      <i class="fa fa-close"></i>
                    </button>
                  </div>
                  <div
                    id="{{ a.customerCode + i }}"
                    class="collapse show"
                    data-parent="#accordion"
                  >
                    <div class="card-body">
                      <div class="row">
                        <div class="input-group">
                          <div class="col-sm-2">Start</div>
                          <div class="col-sm-4">
                            <input
                              type="time"
                              name=""
                              id=""
                              class="form-control"
                              [(ngModel)]="a.startTime"
                              (change)="onChangStartOrEnd($event, 'start', a.customerCode)"
                            />
                          </div>
                          <div class="col-sm-2">End</div>
                          <div class="col-sm-4">
                            <input
                              type="time"
                              name=""
                              id=""
                              class="form-control"
                              [(ngModel)]="a.endTime"
                              (change)="onChangStartOrEnd($event, 'end')"
                            />
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success && pressOK">
                    {{ Responsemessage }}
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="error && pressOK">
                    {{ Responsemessage }}
                </div>
                <div class="div-btns">
                    <button class="btn btn-dark" (click)="onPressOk()">
            OK
          </button>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-12" *ngIf="pressOK">
            <div class="card">
                <div class="btn-plus">
                    <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus"></i>
            </button>
                </div>


                <app-new-angular-calender [customerTime]="customerTime" (sendDate)="ReciveDate($event)" (selectedTime)="ReciveTime($event)" [resetAllValues]="resetAllValues" (spliceCustomer)="handleSpliceCustomerArray($event)" [dateArray]="dateArray" (saveArrayOfDates)="saveArrayOfDates($event)"></app-new-angular-calender>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Station</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group">
                            <div class="col-sm-2">
                                <label for="">Stations</label>
                            </div>
                            <div class="col-sm-10">
                                <!-- <app-auto-complate-search
              [dataSource]="arrayOfCustomersName"
              (selectedData)="ResiveCustomer($event)"
              [from]="'plan'"
              [placeholderValue]="'Select Station'"
            >
            </app-auto-complate-search> -->
                                <!-- <div class="col-sm-4">
                                    <div class="search-div">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search "></i></span>
                                            <input id="email" type="text" class="form-control search-input" autocomplete="off" (keyup)="onChange($event)" placeholder="Search ...." />
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="success">
        {{ Responsemessage }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ Responsemessage }}
    </div>
</div>
<div class="div-btns" *ngIf="territoryCode && arrayOfCustomerSelected.length > 0">
    <button class="btn btn-dark" (click)="handleSubmitAddJournyPlan()">
    Submit
  </button>

    <button class="btn btn-light" (click)="onPressCancel()">
    Cancel
  </button>
</div>
