<div class="container search-add">
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-primary h1" routerLink="/pages/customer/add-customer">+</a>
        </div>
        <div class="col-sm-6"></div>
        <div class="col-sm-4">
            <div class="search-div">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                    <input id="email" type="text" class="form-control search-input" autocomplete="off" (keyup)="onChange($event)" placeholder="Search ...." />
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container" *ngIf="!loaded">
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%">Action</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>Industry</th>
                    <th>Governoment</th>
                    <th>Region</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data; let i = index">
                    <td>
                        <div class="edit-remove">
                            <div>
                                <i class="fa fa-trash" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" (click)="onPressDeleteIcon(d?.customerCode, i)"></i>
                            </div>
                            <div>
                                <i class="fa fa-pencil" (click)="onPressEditIcon(d?.customerCode)"></i>
                            </div>
                        </div>
                    </td>
                    <td (click)="onPressTr(d?.customerCode)">{{ d?.name1 }}</td>
                    <td>{{ d?.address }}</td>
                    <td>{{ d?.country?.countryName }}</td>
                    <td>{{ d?.industry?.industryName }}</td>
                    <td>{{ d?.governorate?.governorateName }}</td>
                    <td>
                        {{ d?.region?.regionName }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" *ngIf="!loaded">
        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{ Responsemessage }}
        </div>
    </div>
    <ngb-pagination class="pageing" *ngIf="!seaching" (pageChange)="PageChange($event)" [(page)]="page" [pageSize]="pageSize" [maxSize]="10" [collectionSize]="totalItems"></ngb-pagination>
    <div></div>
</div>

<div class="loaded" *ngIf="loaded">
    <app-loader></app-loader>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete Product</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="handelDeleteCustomer()">
                    Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>