<div class="row" *ngIf="total?.customerCount || total?.userCount || total?.productCount || total?.taskCount ">
  <div class="col-xl-2">
    <div class="card" (click)="onPressCustomer()">
        <i class="fa fa-home"  style="color: #ea5160"></i>
        <h4 style="color: #ea5160">Stations</h4>
        <h4 style="color: #ea5160">{{ total?.customerCount }}</h4>
    </div>
  </div>
  <div class="col-xl-2">
    <div class="card" (click)="onPressUser()">
        <i class="fa fa-users" style="color: rgb(124, 181, 236)"></i>
      <h4 >Users</h4>
      <h4 >{{ total?.userCount }}</h4>
    </div>
  </div>
  <div class="col-xl-2">
    <div class="card" (click)="onPressTerritory()">
        <i class="fa fa-cart-plus" style="color:#7cb789" ></i>

      <h4 style="color:#7cb789">Components</h4>
      <h4 style="color:#7cb789">{{ total?.productCount }}</h4>
    </div>
  </div>
  <div class="col-xl-2">
    <div class="card" (click)="onPressTasks()">
        <i class="fa fa-tasks" style="color: rgba(212, 167, 36, 0.83)"></i>

      <h4 style="color: rgba(212, 167, 36, 0.83)">Tasks</h4>
      <h4  style="color: rgba(212, 167, 36, 0.83)">{{ total?.taskCount }}</h4>
    </div>
  </div>
  <div class="col-xl-2">
      <div class="card" (click)="onPressPlan()">
          <i class="fa fa-calculator" style="color: #117a8b"></i>
  
        <h4 style="color: #117a8b">Plans</h4>
        <h4  style="color: #117a8b">{{ total?.plans }}</h4>
      </div>
    </div>
    <div class="col-xl-2">
        <div class="card" (click)="onPressProject()">
            <i class="fa fa-bicycle" style="color: #f66900"></i>
    
          <h4 style="color: #f66900">Projects</h4>
          <h4  style="color: #f66900">{{ total?.projects }}</h4>
        </div>
      </div>
</div>
