h4
  margin: 10px auto
  color: rgb(124, 181, 236)
  text-align: center
.card
  min-height: 150px
  padding: 20px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  cursor: pointer
  width: 200px
  margin: auto
  border-radius: 50%
  // height: 180px
  // padding-top: 38px
  &:hover
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)


i
  color: transparent
  // -webkit-text-stroke: 1px gray
  font-size: 60px
  margin: auto
