.weekdays
  margin: 0
  padding: 10px 0
  background-color: #fff
  font-weight: bold
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)


.weekdays li
  display: inline-block
  width: 13.6%
  color: red
  text-align: center
  &:hover
    background-color: red
    color: white

.month
  padding: 10px 0
  background-color:#0269D9
  border-radius: 10px 10px 0 0

.days
  background: #fff
  margin: 0
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)



.days li
  list-style-type: none
  display: inline-block
  text-align: center
  font-size: 15px
  color: #111
  cursor: pointer


.days li .active
  padding: 5px
  background: #1abc9c
  color: white !important


.btn-prev-next
  display: flex
  justify-content: space-between
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  button
    background: transparent

i
  font-size: 25px



// .h4-header
//    margin: 20px 0px
.margin
  margin: 20px
  text-align: center
.border
  padding: 10px
  text-align: center
  cursor: all-scroll
  &:hover
    background-color: #ced4da
.fa-calendar
  color: #f7a2a2
.card
  width: 90%
  margin: auto
  height: 67vh !important
  overflow: auto
.card-customer
  height: 45px !important
  background: antiquewhite
.fa-close
  font-size: 13px
  color: #E91E63
  position: absolute
  left: 0px
  cursor: pointer

.textarea
  min-height: 150px
  border: 1px solid #ddd
  padding: 15px
  position: relative


.textarea .grabber
  content: ''
  position: absolute
  bottom: 0
  margin-left: -15px
  cursor: s-resize
  height: 9px
  width: 100%
  border-top: 1px solid #f1f1f1
  overflow: hidden
  background-color: #eff0f1
  background-image: url('https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg'),none
  background-position: 210px -364px
  background-size: initial
  background-repeat: no-repeat



//// new calender


#fullDiv
  margin: 20px
  overflow: hidden
  background-color: #fff

ul
  margin: 0
  padding: 0


li
  // float: left
  display: inline-block
  width: 14.2857%
  text-align: center
  list-style-type: none
  font-weight: 900




li:hover
  border-radius: 5px
  background-color: #1abc9c
  color: #ecf0f1
  cursor: pointer



