<!-- <div class="margin" *ngIf="schedule">
    <div class="h4-header">
        <h4>{{showMonth | date : 'MMM/yyyy'}}</h4>
    </div>
    <ul class="weekdays">
        <li *ngFor="let d of days">{{d}}</li>
    </ul>

    <ul class="days">
        <li *ngFor="let m of DayArray" (click)="onPressDay(m)">
            <div *ngIf="today != m">{{m}}</div>
            <div *ngIf="today == m" style="background: #ced4da">{{m}}</div>
        </li>
    </ul>

    <div class="btn-prev-next">
        <button class="btn btn-light" (click)="OnPressPrev()"><i class="fa fa-angle-left"></i></button>
        <button class="btn btn-light" (click)="OnPressNext()"><i class="fa fa-angle-right"></i></button>
    </div>

</div> -->
<i class="fa fa-calendar" (click)="onPressScheduleIcon()" *ngIf="!schedule"></i>
<div class="card " *ngIf="!schedule">
    <div *ngFor="let h of hours; let i = index" class="border" id="{{i}}" (drop)="drop($event, i)" (dragover)="allowDrop($event)" (dragstart)="dragStart($event, i)" draggable="true">

        <div>
            <div>
                <p>{{h.houre}}</p>
            </div>
            <div *ngIf="h.data.customerName" class="card card-customer">
                <span><i class="fa fa-close" (click)="onPressClose(h, i)" ></i></span>
                <p> {{h?.data?.customerName || h?.data }}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="schedule">

    <div class=" month text-center">
        <div class="btn-prev-next align-items-center">
            <button class="btn text-white" (click)="OnPressPrev()"><i class="fa fa-angle-left"></i></button>
            <h4 class="text-white my-0">{{showMonth | date : 'MMM/yyyy'}}</h4>
            <button class="btn text-white" (click)="OnPressNext()"><i class="fa fa-angle-right"></i></button>
        </div>
    </div>

    <ul class="weekdays">
        <li *ngFor="let d of days">{{d}}</li>

    </ul>
    <ul class="days">
        <li *ngFor="let m of DayArray" (click)="onPressDay(m)">
            <div *ngIf="today != m">{{m}}</div>
            <div *ngIf="today == m" style="background: #ced4da">{{m}}</div>
        </li>
    </ul>
    <!-- <div class="btn-prev-next">
        <button class="btn btn-light" (click)="OnPressPrev()"><i class="fa fa-angle-left"></i></button>
        <h4 class="text-white my-0">{{showMonth | date : 'MMM/yyyy'}}</h4>
        <button class="btn btn-light" (click)="OnPressNext()"><i class="fa fa-angle-right"></i></button>
    </div> -->
</div>