<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
          <h4>Basic Info</h4>
        <div class="row">
          <!-- <div class="input-group">
            <div class="div-img col-sm-12">
              <img src="https://i.stack.imgur.com/l60Hf.png" alt="" />
            </div>
          </div> -->

    <div class="input-group">
            <div class="col-sm-2">
              <label for="">Customer Code</label>
            </div>
            <div class="col-sm-10">
              <input
              placeholder="Customer Code"
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.customerCode"
                readonly
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Active</label>
            </div>

            <div class="col-sm-9">
              <ui-switch
                size="small"
                color="#17a2b8"
                defaultBgColor="#d6d2d2"
                [(ngModel)]="customer.active"

              ></ui-switch>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Name</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                placeholder="Name"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customer.name1"
              />
            </div>
          </div>
          <div class="input-group">
              <div class="col-sm-2">
                <label for="">Address</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  placeholder="Address"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.address"
                />
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label for="">Telephone</label>
              </div>
              <div class="col-sm-10">
                <input
                  placeholder="Telephone"
                  type="number"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.telephone"
                />
              </div>
            </div>
            <div class="input-group">
                <div class="col-sm-2">
                  <label for="">Postal Code</label>
                </div>
                <div class="col-sm-10">
                  <input
                  placeholder="Code"
                    type="text"
                    name=""
                    id=""
                    class="form-control"
                    [(ngModel)]="customer.postalCode"
                  />
                </div>
              </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Government</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
              [placeholderValue]="'Select City'"

                [dataSource]="goverNames"
                [from]="'gover'"
                (selectedData)="onChange($event)"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Area</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
              [placeholderValue]="'Select Region'"

                [dataSource]="regionsNames"
                [from]="'region'"
                (selectedData)="onChange($event)"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Industry</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
              [placeholderValue]="'Select Industry'"

                [dataSource]="industriesNames"
                [from]="'industry'"
                (selectedData)="onChange($event)"
              ></app-auto-complate-search>
            </div>
          </div>


          <app-customer-seles-data style="width: 100%"
          (sendCustomerSeles)="ResviceData($event, 'customerSalesData')"
        ></app-customer-seles-data>


        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-customer-map
        (sendLatLng)="OnReciveLatLng($event)"
      ></app-customer-map>
      <div class="card">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Latitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.latitude"
                readonly
              />
            </div>
          </div>
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Longitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.longitude"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ Responsemessage }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ Responsemessage }}
  </div>
  <div class="div-btn" style="margin: 40px 0px;">
    <button class="btn btn-light" (click)="onPressCancel()">Cancel</button>
    <button class="btn btn-dark" (click)="onPressSave()">Submit</button>
  </div>
</div>
