<div style="width: 200px; margin: auto" *ngIf="!date ">
  <nouislider
id="slider"
[connect]="true"
[min]="0"
[max]="30"
[(ngModel)]="someRange"
(change)="onChange()"
></nouislider>
</div>

<div style="width: 200px; margin: auto" *ngIf="date && date.length > 0">
  <nouislider
id="slider"
[connect]="true"
[min]="0"
[max]="date.length + 1"
[(ngModel)]="someRange"
(change)="onChange()"
></nouislider>
</div>
<div [chart]="chart"></div>
