<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="row">
              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">First Name</label>
                </div>
                <div class="col-sm-9">

                  <input placeholder="First Name" type="text" id="firstName" name="firstName" class="form-control" required  [(ngModel)]="user.firstName"
                    #firstName="ngModel">
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="validation-error">

                    <div *ngIf="firstName.errors.required">
                      First Name is required.
                    </div>
                  </div>

                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Last Name</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="Last Name" type="text" name="lastName" id="lastName" class="form-control" required  [(ngModel)]="user.lastName"
                    #lastName="ngModel">

                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="validation-error">

                    <div *ngIf="lastName.errors.required">
                      Last Name is required.
                    </div>

                  </div>

                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">User Name</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="User Name" type="text" name="userName" autocomplete="off" id="userName" class="form-control" [(ngModel)]="user.userName" required
                    #userName="ngModel">

                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="validation-error">

                    <div *ngIf="userName.errors.required">
                      User Name is required.
                    </div>

                  </div>

                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Email</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="Email" type="email" name="email" id="email" autocomplete="off" class="form-control" [(ngModel)]="user.email" required [email]="true"
                    #email="ngModel">
                  <div *ngIf="email.invalid &&  (email.dirty || email.touched )" class="validation-error">

                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                      Email Pattern (example@example.com)
                    </div>
                  </div>

                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Password</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="Password" type="password" autocomplete="off" name="password" id="password" class="form-control" [(ngModel)]="user.password"
                    required #password="ngModel" minlength="6" (keyup)="onChangeCurrentPassword($event)">

                  <div *ngIf="password.invalid &&  (password.dirty || password.touched )" class="validation-error">

                    <div *ngIf="password.errors.required">
                      password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters long.

                    </div>
                  </div>

                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Confirm Password</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="Confirm Password" type="password" autocomplete="off" name="confirmPassword" id="confirmPassword" class="form-control" [(ngModel)]="user.confirmPassword"
                    required (keyup)="onChangeCurrentPassword($event)">

                  <div *ngIf="mustMatch" class="validation-error">
                    Confirm Password must be Like Password.
                  </div>
                </div>
              </div>

              <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Phone</label>
                </div>
                <div class="col-sm-9">
                  <input placeholder="Phone" type="number" name="phone" autocomplete="off" id="phone" class="form-control" [(ngModel)]="user.phoneNumber" required
                    #phone="ngModel" (keyup)="keyPressPhone($event)">

                  <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="validation-error">

                    <div *ngIf="phone.errors.required">
                      Phone is required.
                    </div>


                  </div>
                  <div *ngIf=" phonePattren == false" class="validation-error">
                    Phone is Must Have Code (exmple +20 111 9900 333) .

                  </div>


                </div>
              </div>

              <!-- <div class="input-group">
                <div class="col-sm-3">
                  <label for="">Profile</label>
                </div>
                <div class="col-sm-9">
                  <select name="" id="" class="form-control select" (change)="onSelectProfile($event)" [(ngModel)]="user.profile.profileCode" >
                      <option value="" disabled selected hidden>Select Profile</option>
                      <option value="" *ngFor="let p of profiles" [value]="p.profileCode">{{p.profileDescription}}</option>
                  </select>
                </div>
              </div> -->
            </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-dark"
          [disabled]="!user.firstName || !user.lastName ||
           !user.password || !user.confirmPassword || !user.email ||
            !user.userName || !user.profile.profileCode"

          data-dismiss="modal" (click)="handleAddUser()">Submit</button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

      </div>

    </div>
  </div>
</div>
