@import '../../../variables/variables.sass'
/*
.navbar-light,.navbar-brand
    color: rgba(214, 113, 113, 0.9)
    img
        width: 75px
.active
    font-weight: bolder
.div-image
    width: 5%
    height: 45px
    +medium
        width: 8%
        margin: auto
    +tablet
        width: 12%
        margin: auto
        margin: auto
    img
        width: 100%
        height: 100%
        border-radius: 50%
    p
      margin: auto

.userMenu
  width: 10%
  +medium
    width: 25%
    margin: auto
  .dropdown-menu
    left: -25% !important
    // +medium
    //   left: -% !important


li
  margin: 0 16px

  a
    // padding: 0 40%
    text-align: center
    border-radius: 5px
    line-height: 2
    margin: 0
    +medium
      padding: 2% 10%
      margin: 5% 0
    &:hover
      background-color:  #007bff
      color: #fff !important







// .user-name
//     margin: 0px 10px
//     font-size: 15px
//     color: #4c4b4b
// .div-parent-details-profile
//     display: flex
//     justify-content: flex-end
//     .div-details-profile
//         width: 10%
//         position: relative
//         +medium
//           width: 80%
//           margin: auto
//           .card
//             position: absolute
//             z-index: 999
//             text-align: center
//             .user
//                 list-style: none
//                 padding: 0px
//                 li
//                   margin: 10px 0px
//                   a
//                     padding: 0
//                     color: #072784

//                   p
//                     color: gray
// .div-image-profile
//     width: 100%
//     height: 100px
//     +medium
//         height: 200px
//     +tablet
//         height: 150px
//     img
//         width: 100%
//         height: 100%
