<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="/pages"><img src="./../../../assets/ffe5e584-fdd3-4408-bdad-ccc23ce3e850_200x200.png" alt=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

        <form class="div-image form-inline my-2 ml-auto text-center my-lg-0">
            <img src="https://i.stack.imgur.com/l60Hf.png" alt="profile" (click)="onClickImageProfile()">
            <p class="user-name">{{userName}}</p>
        </form>

    </div>
</nav> -->


<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <a class="navbar-brand" routerLink="/pages"><img src="https://i.postimg.cc/xjJshNs4/ffe5e584-fdd3-4408-bdad-ccc23ce3e850-200x200.png" alt=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav m-auto mt-2">
            <li class="nav-item">
                <a class="nav-link " routerLink="/pages/user" routerLinkActive="active" (click)="handleViewProfile()">
                    <i class="fa fa-user"></i> User
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link " routerLink="/pages/customer" routerLinkActive="active" (click)="handleViewProfile()">
                    <i class="fa fa-users"></i> customer
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" routerLink="/pages/root" routerLinkActive="active" (click)="handleViewProfile()">
                    <i class="fa fa-road"></i> Route
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " routerLink="/pages/plan" routerLinkActive="active" (click)="handleViewProfile()">
                    <i class="fa fa-truck"></i> Plan
                </a>
            </li>
        </ul>


        <div class="userMenu ">
            <div class="dropdown form-inline my-2 text-center ml-auto">
                <a class="m-auto mx-lg-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle fa-3x"></i>
                </a>
                <p class="my-0 mx-lg-1 m-auto text-dark">{{userName}}</p>
                <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                    <span class="dropdown-item">
                        <img src="https://i.stack.imgur.com/l60Hf.png" alt="">
                    </span>
                    <span class="dropdown-item px-0">
                        Software Engineer
                    </span>
                    <a class="dropdown-item" routerLink="/pages/profile" routerLinkActive="active" (click)="handleViewProfile()">view Profile</a>

                    <button class="btn btn-danger p-0 btn-block" (click)="handleLogOut()">Logout</button>
                </div>
            </div>
        </div>
        <!-- <form class="div-image form-inline my-2 ml-auto text-center my-lg-0">
            <img src="https://i.stack.imgur.com/l60Hf.png" alt="profile" (click)="onClickImageProfile()">
            <i class="fa fa-user-circle fa-3x" (click)="onClickImageProfile()"></i>
            <p class="user-name">{{userName}}</p>
        </form> -->
    </div>
</nav>


<div class="div-parent-details-profile">

    <div class="div-details-profile" *ngIf="viewProfileDetails">
        <div class="card">
            <ul class="text-center user">
                <div class="div-image-profile">
                    <img src="https://i.stack.imgur.com/l60Hf.png" alt="">
                </div>
                <li>
                    <p>Software Engineer</p>
                </li>
                <li>
                    <a routerLink="/pages/profile" routerLinkActive="active" (click)="handleViewProfile()">view Profile</a>
                </li>

                <li>
                    <button class="btn btn-danger btn-block" (click)="handleLogOut()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</div>
