.card
    margin: 6%  0px
    padding: 20px
    .input-group
        margin: 10px 0px
.div-btns
    display: flex
    justify-content: space-around
    margin: 20px 0px
    button
        width: 40%
.validation-error
    color: red
    margin: 10px 0px
    font-size: 14px
.loaded
  text-align: center
