<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-calender
        (sendDate)="ReciveDate($event)"
        (selectedTime)="ReciveTime($event)"
        [customerTime]= "customerTime"
        [resetAllValues]= "resetAllValues"
      ></app-calender>

    </div>

    <div class="col-sm-6">
      <div class="search-div">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search "></i></span>
          <input
            id="email"
            type="Search"
            class="form-control search-input"
            autocomplete="off"
            (keyup)="SearchFrom('searchTerritory')"
            (selectItem)="onChange($event, 'searchTerritory')"
            [ngbTypeahead]="search"
            placeholder="Search By Territory ..."
          />
        </div>
      </div>
      <div
        style="height: 100%; width: 100%"
        *ngIf="arrayOfCustomers?.length > 0"
      >
        <app-plan-map
          [latLngArray]="arrayOfCustomers"
          [territoryLatLng]="territoryLatLng"
          (selectedCustomer)="onReciveSelectedCustomer($event)"
        ></app-plan-map>
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ Responsemessage }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ Responsemessage }}
  </div>
  <div class="btn-div">
    <button class="btn btn-dark" (click)="onPressSubmit()">Submit</button>
    <button class="btn btn-light" (click)="onPressCancel()">Cancel</button>
  </div>
</div> -->

<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6">
      <app-calender
        [customerTime]="customerTime"
        [resetAllValues]= "resetAllValues"
        (selectedTime)="ReciveTime($event)"
       (sendDate)="ReciveDate($event)"
       (spliceCustomer)="handleSpliceCustomerArray($event)"
       ></app-calender>
    </div> -->

        <div class="col-sm-12" *ngIf="pressOK">
            <div class="btn-cancle">
                <label for="">Route: </label>
                <button type="button" class="btn btn-info " (click)="onPressToRestValue()">
          {{ territoryName }}
          <i class="fa fa-close"></i>
        </button>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" *ngIf="!pressOK">
            <div class="card">
                <div class="row">
                    <div class="input-group">
                        <div class="col-sm-2">
                            <label for="">Repeat</label>
                        </div>
                        <div class="col-sm-10">
                            <select name="" id="" class="form-control select" (change)="onSelectRepeatedValue($event)">
                <option value="No Repeat">No Repeat</option>
                <option value="Daily">Daily</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
              </select>
                        </div>
                    </div>

                    <div class="input-group" *ngIf="
              repeatedValue == 'Daily' ||
              repeatedValue == 'Weekly' ||
              repeatedValue == 'Monthly'
            ">
                        <div class="col-sm-2">
                            <label for="">From</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="dateFrom" id="" class="form-control" [(ngModel)]="from" placeholder="From" (change)="onSelectDate('from', $event)" [min]="currentDayDate" />
                        </div>
                        <div class="col-sm-2">
                            <label for="">To</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="date" name="dateTo" id="" class="form-control" [(ngModel)]="to" placeholder="To" (change)="onSelectDate('to', $event)" [min]="currentDayDate" />
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="col-sm-2" style="margin: auto">
                            <label for="">Route</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="search-div">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                                    <input type="text" name="" id="" class="form-control" (keyup)="SearchFrom('searchTerritory')" (selectItem)="onChange($event, 'searchTerritory')" [ngbTypeahead]="search" placeholder="Select Route" (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                                        #instance="ngbTypeahead" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success && pressOK">
                    {{ Responsemessage }}
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="error && pressOK">
                    {{ Responsemessage }}
                </div>
                <div class="div-btns">
                    <button class="btn btn-dark" (click)="onPressOk()">
            OK
          </button>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>

        <div class="col-sm-12" *ngIf="pressOK">
            <div class="row">

                <div class="col-sm-6">
                    <div>
                        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-plus"></i>
                          </button>
                    </div>
                    <div class="card">

                        <div style=" width: 100%" *ngIf="arrayOfCustomers?.length > 0">
                            <app-plan-map [latLngArray]="arrayOfCustomers" [territoryLatLng]="territoryLatLng" (selectedCustomer)="onReciveSelectedCustomer($event)"></app-plan-map>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card calender">
                        <app-new-angular-calender [customerTime]="customerTime" (sendDate)="ReciveDate($event)" (selectedTime)="ReciveTime($event)" [resetAllValues]="resetAllValues" (spliceCustomer)="handleSpliceCustomerArray($event)" [dateArray]="dateArray" (saveArrayOfDates)="saveArrayOfDates($event)"></app-new-angular-calender>
                    </div>

                </div>

            </div>
            <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <app-new-angular-calender [customerTime]="customerTime" (sendDate)="ReciveDate($event)" (selectedTime)="ReciveTime($event)" [resetAllValues]="resetAllValues" (spliceCustomer)="handleSpliceCustomerArray($event)" [dateArray]="dateArray" (saveArrayOfDates)="saveArrayOfDates($event)"></app-new-angular-calender>
                    </div>

                </div>
            </div> -->

        </div>

    </div>
</div>

<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="success">
        {{ Responsemessage }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ Responsemessage }}
    </div>
</div>
<div class="div-btns" *ngIf="territoryCode && (territoryCustomerVisit.territoryCustomerVisits.length > 0 || arrayTerritoryCustomerVisits.length > 0 )">
    <button class="btn btn-dark" (click)="onPressSubmit()">
    Submit
  </button>

    <button class="btn btn-light" (click)="onPressCancel()">
    Cancel
  </button>
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Station</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group">
                            <div class="col-sm-2">
                                <label for="">customer</label>
                            </div>
                            <div class="col-sm-10">
                                <app-auto-complate-search [dataSource]="arrayOfCustomersName" (selectedData)="ResiveCustomer($event)" [from]="'plan'" [placeholderValue]="'Select Station'">
                                </app-auto-complate-search>
                                <!-- <div class="search-div">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search "></i></span>
                                        <input id="" type="text" [(ngModel)]="term" class="form-control search-input" autocomplete="off" placeholder="Search ...." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Add</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr #data *ngFor="let d of arrayOfCustomers|search:term; let i = index">
                                    <td #name>{{ d?.customerName }}</td>
                                    <td>
                                        <button class="btn btn-dark h2" (click)="addToCalendar(i)" (selectedData)="ResiveCustomer($event)">
                                             +
                                         </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <ngb-pagination class="pageing" *ngIf="!searching" (pageChange)="PageChange($event)" [(page)]="page" [pageSize]="pageSize" [maxSize]="10" [collectionSize]="totalItems"></ngb-pagination> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
