
.calender
  overflow: auto


.card
  margin: 10px 0px
  padding: 20px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  app-plan-map
    height: 60vh
  app-new-angular-calender
    height: 62vh
  .input-group
    margin: 10px 0px
.card-body
  border: 1px solid #d8d8d8
.card-header
  display: flex
  justify-content: space-between
  i
    color: #83d0f7
.form-control
  background: #fff
/deep/ .dropdown-menu
  width: 93% !important
.btn-task
  margin: auto
.modal-footer
  display: flex
  justify-content: space-around
.modal-body
  .input-group
    margin: 10px 0px
.div-btns
  display: flex
  justify-content: space-around
  margin: 20px 0px
  button
    width: 20%
.select
  border-radius: 20px
  background-color: #f8f9fa

.fa-search
  position: absolute
  z-index: 99
  top: 10px
  right: 4%
  color: gray

.btn-plus
  position: fixed
  right: 5%

td
  vertical-align: middle !important
