agm-map
  width: 100%;
  height: 50vh;
.container
  margin: 30px 0px
.card
  position: fixed
  width: 36%
  z-index: 100
  top: 33%
  margin: auto
  left: 53%
.card-body
  padding: 20px
.input-group
  margin: 10px
  label
    margin: 10px
.card-footer
  display: flex
  justify-content: space-around
  button
    width: 30%
.gm-style div
  color: #fff !important
  font-weight: bold
