<div style="width: 100%; height: 100%;">
  <agm-map
    [latitude]="territoryLatLng.lat"
    [longitude]="territoryLatLng.lng"
    [scrollwheel]="false"
    [zoom]="zoom"
  >
    <agm-marker
      *ngFor="let l of latLngArray; let i = index"
      [latitude]="l.latitude"
      [longitude]="l.longitude"
      (markerClick)="onSelectMarker(l)"
      [label]="{color: 'white', text: l.labal || ' '}"
      (mouseOver)="onMouseOver(infoWindow, $event)"
      (mouseOut)="onMouseOut(infoWindow, $event)"

      >
      <agm-info-window [disableAutoPan]="false" #infoWindow>
          <div>
            <div style="text-align: center; margin: 10px auto">{{ l.customerName }}</div>
            <div style="text-align: center; margin: 10px auto">{{ l.customerTypeCode }} </div>
          </div>
          <div>
            <a
              (click)="onClickInfoView({ id: m.id })"
              class="btn btn-attention pull-right"
              > <i class="fa fa-angle-double-right"></i
            ></a>
          </div>
        </agm-info-window>
    </agm-marker>


  </agm-map>
</div>

<!-- <div class="container">

  <div class="card" *ngIf="dataShowFlag" data-aos="fade-up">
    <div class="card-header">
      <h6>View Customer</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="input-group">
          <div class="col-sm-4">
            <label for="">Name</label>
          </div>
          <div class="col-sm-8">
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              readonly
              [value]="dataCustomer.customerName"
            />
          </div>
        </div>
        <div class="input-group">
          <div class="col-sm-4">
            <label for="">From</label>
          </div>
          <div class="col-sm-8">
            <input
              type="time"
              name=""
              id=""
              class="form-control"
              [(ngModel)]="form"
            />
          </div>
        </div>

        <div class="input-group">
            <div class="col-sm-4">
              <label for="">To</label>
            </div>
            <div class="col-sm-8">
              <input
                type="time"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="to"
              />
            </div>
          </div>

      </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-dark" (click)="onPressSubmit()">Submit</button>
      <button class="btn btn-light" (click)="onPressClose()">Close</button>
    </div>

  </div>
</div> -->
