<div class="card">
  <h4>Attachments</h4>
  <div class="array-images">
    <div class="row">
      <div class="col-sm-4 image-array" *ngFor="let a of arrayOfImages; let i = index" >
        <i class="fa fa-close" (click)="onPressSpliceImageUploaded(i)"
        ></i>
        <img [src]="a.attachmentUrl" alt="" (click)="onPressEditImage(a, i)" data-toggle="modal" data-target="#myModalEdit">
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ Responsemessage }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ Responsemessage }}
  </div>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="onPressAddNewImage()">
      Add New Image
     </button>
</div>


    <!-- The Modal -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                  <div class="input-group">
                    <div class="col-sm-2">
                      <label for="">Type</label>
                    </div>
                    <div class="col-sm-10">
                      <select
                        name=""
                        id="SelectAttach"
                        class="form-control select"
                        (change)="onSelectType($event)"
                      >
                        <option value="" selected disabled hidden>Select Type</option>
                        <option
                          *ngFor="let a of arrayOfAttachmentTypes"
                          [value]="a.attachmentTypeCode"
                          >{{ a.attachmentTypeName }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <div class="input-group">
                    <div class="col-sm-2">
                      <label for="">Comment</label>
                    </div>

                    <div class="col-sm-10">
                      <input
                        type="text"
                        name=""
                        id=""
                        class="form-control"
                        [(ngModel)]="customerAttach.comment"
                        placeholder="Comment"
                      />
                    </div>
                  </div>

                  <div class="input-group" *ngIf="!displayImage">
                    <div class="col-sm-2">
                      <label for="">Image</label>
                    </div>

                    <div class="col-sm-10">
                      <div class="col-sm-10 div-btn">
                        <label for="img" class="btn btn-info">Browse</label>
                        <input
                          type="file"
                          name=""
                          id="img"
                          hidden
                          (change)="onChooseImage($event)"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="input-group" *ngIf="displayImage">
                    <div class="col-sm-2">
                      <label for="">Image</label>
                    </div>

                    <div class="col-sm-10 image">
                      <i class="fa fa-close" (click)="CancelImage()"></i>
                      <img [src]="customerAttach.attachmentUrl" alt="" />
                    </div>

                  </div>
                </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="onPressUpload()">Upload</button>

            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetAllValues()">Close</button>
          </div>

        </div>
      </div>
    </div>


    <div class="modal" id="myModalEdit">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="input-group">
                      <div class="col-sm-2">
                        <label for="">Type</label>
                      </div>
                      <div class="col-sm-10">
                        <select
                          name=""
                          id="SelectAttachEditing"
                          class="form-control select"
                          (change)="onSelectType($event)"
                        >
                          <option value="" selected disabled hidden>Select Type</option>
                          <option
                            *ngFor="let a of arrayOfAttachmentTypes"
                            [value]="a.attachmentTypeCode"
                            >{{ a.attachmentTypeName }}</option
                          >
                        </select>
                      </div>
                    </div>

                    <div class="input-group">
                      <div class="col-sm-2">
                        <label for="">Comment</label>
                      </div>

                      <div class="col-sm-10">
                        <input
                          type="text"
                          name=""
                          id=""
                          class="form-control"
                          [(ngModel)]="customerAttach.comment"
                          placeholder="Comment"
                        />
                      </div>
                    </div>

                    <div class="input-group" *ngIf="!displayImage">
                      <div class="col-sm-2">
                        <label for="">Image</label>
                      </div>

                      <div class="col-sm-10">
                        <div class="col-sm-10 div-btn">
                          <label for="img" class="btn btn-info">Browse</label>
                          <input
                            type="file"
                            name=""
                            id="img"
                            hidden
                            (change)="onChooseImage($event)"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="input-group" *ngIf="displayImage">
                      <div class="col-sm-2">
                        <label for="">Image</label>
                      </div>

                      <div class="col-sm-10 image">
                        <i class="fa fa-close" (click)="CancelImage()"></i>
                        <img [src]="customerAttach.attachmentUrl" alt="" />
                      </div>

                    </div>
                  </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="onPressUploadEditing()">Upload</button>

              <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
            </div>

          </div>
        </div>
      </div>
