<div class="search-div" *ngIf="!name">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search "></i></span>
        <input id="text" type="Search" *ngIf="!name" class="form-control search-input" (selectItem)="onChange($event)" [ngbTypeahead]="search" [resultFormatter]="formatter" [(ngModel)]="nameSearch" placeholder="{{ placeholderValue }}" [disabled]="readOnly" (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
    </div>
</div>

<div class="search-div" *ngIf="name">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search "></i></span>
        <input id="text" type="Search" *ngIf="name" [value]="name" class="form-control search-input" (selectItem)="onChange($event)" [ngbTypeahead]="search" [resultFormatter]="formatter" placeholder="{{ placeholderValue }}" [disabled]="readOnly" (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
    </div>
</div>