<div class="card">
  <h4>Station Assets</h4>
  <div class="row">
    <div
      class="col-sm-4 customers"
      *ngFor="let a of arrayOfCustomerAssests; let i = index"
    >
      <a
        href=""
        (click)="onPressEditCustomer(a, i)"
        data-toggle="modal"
        data-target="#myModalAssetEditing"
      >
        ({{ i + 1 }}) {{ a.description }}</a
      >
      <i *ngIf="router.url.indexOf('/pages/customer/view-customer/')" class="fa fa-close" (click)="onPressSpliceCustomer(a.assetId, i)"></i>
    </div>
  </div>
  <button
  *ngIf="router.url.includes('edit-customer')"
    type="button"
    class="btn btn-info"
    data-toggle="modal"
    data-target="#myModalAsset"
    (click)="resetAllValues()"
  >
    Add New Asset
  </button>
</div>

<div class="modal" id="myModalAsset">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Asset</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Comment</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.comment"
                placeholder="Comment"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Descreption</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.description"
                placeholder="Descreption"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Installation Date</label>
            </div>

            <div class="col-sm-9">
              <input
                type="date"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.installationDate"
                placeholder="Installation Date"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Install By</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.installedBy"
                placeholder="Install By"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Removal Date</label>
            </div>

            <div class="col-sm-9">
              <input
                type="date"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.removalDate"
                placeholder="Removal Date"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Removed By</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.removedBy"
                placeholder="Removed By"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Serial No</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.serialNo"
                placeholder="Serial No"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Assat Type</label>
            </div>

            <div class="col-sm-9">
              <select
                name=""
                id="mySelect"
                class="form-control select"
                (change)="onSelectAssetType($event)"
              >
                <option value="" selected hiddenreadonly                  >Select Asset Type</option
                >
                <option
                  value=""
                  *ngFor="let a of arrayOfAssetType"
                  [value]="a.assetTypeCode"
                >
                  {{ a.assetTypeName }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="onPreesAdd()"
        >
          Add
        </button>

        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="onPressCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModalAssetEditing">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Asset</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Comment</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.comment"
                placeholder="Comment"
                [readonly]="router.url.includes('view-customer')"
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Descreption</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.description"
                placeholder="Descreption"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Installation Date</label>
            </div>

            <div class="col-sm-9">
              <input
                type="date"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.installationDate"
                placeholder="Installation Date"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Install By</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.installedBy"
                placeholder="Install By"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Removal Date</label>
            </div>

            <div class="col-sm-9">
              <input
                type="date"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.removalDate"
                placeholder="Removal Date"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Removed By</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.removedBy"
                placeholder="Removed By"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Serial No</label>
            </div>

            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customerAsset.serialNo"
                placeholder="Serial No"
                [readonly]="router.url.includes('view-customer')"

              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Assat Type</label>
            </div>

            <div class="col-sm-9">
              <select
                name=""
                id="mySelectEdit"
                class="form-control select"
                (change)="onSelectAssetType($event)"
              >
                <option value="" selected hidden
                readonly >Select Asset Type</option
                >
                <option
                  value=""
                  *ngFor="let a of arrayOfAssetType"
                  [value]="a.assetTypeCode"
                  [hidden]="router.url.includes('view-customer')"

                >
                  {{ a.assetTypeName }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="onPreesEdit()"
          *ngIf="router.url.includes('edit-customer')"
        >
          Edit
        </button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
