.card
  padding: 15px
  h4
    margin: 20px auto
    border-bottom: 1px solid
    color: #a09e9e

.input-group
  margin: 10px 0px
.modal-body
  height: 100%
  max-height: 70vh
  overflow-y: auto
.customers
  margin: 20px 0px
  a
    font-size: large
    margin: 20px 0px
.fa-close
  color: #007bff
.select
  border-radius: 20px
  background-color: #f8f9fa
