<div *ngIf="accessToken">
    <app-header></app-header>
    <!-- <p *ngIf="router.url =='/pages/dashboard/main-dashboard'">{{companyName}}</p> -->
    <div class="div-router">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>