.step-border
  width: 100%
  border-bottom: 1px solid #afacac
  position: absolute
  top: 20px
  width: 83%
  left: 59%

.col-sm-4
  padding: 0px
  text-align: center
  button
    border-radius: 50%

/deep/ .dropdown-menu.show
  width: 94%
