<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="relative">
                <div class="step-border"></div>
            </div>
            <button [ngClass]="btnStepOne">1</button>
        </div>
        <div class="col-sm-4">
            <div class="relative">
                <div class="step-border"></div>
            </div>
            <button [ngClass]="btnStepTwo">2</button>
        </div>
        <div class="col-sm-4 last">
            <button [ngClass]="btnStepThree">3</button>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
