@import '../../../../variables/variables.sass'
.step-border
  border-bottom: 1px solid #afacac
  position: absolute
  top: 20px
  width: 83%
  left: 59%
  +medium
    width: 10%
    border-bottom: none


.col-sm-4
  padding: 0px
  text-align: center
  button
    border-radius: 50%

/deep/ .dropdown-menu.show
  width: 94%
