<div class="row text-center">
  <div class="col-md-12">
    <h6 (click)="calenderClick()">
      {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
    </h6>
  </div>
  <div class="col-md-9">
    <div class="btn-group">
      <div
        class="btn btn-link nextPreviousBtn"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewD"
        (viewDateChange)="activeDayIsOpen = false"
        (click)="day = true; navigateRow()"
      >
        <i class="fa fa-chevron-left"></i>
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewD"
        (click)="day = true; navigateRow()"
      >
        Today
      </div>
      <div
        class="btn btn-link nextPreviousBtn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewD"
        (viewDateChange)="activeDayIsOpen = false"
        (click)="day = true; navigateRow()"
      >
        <i class="fa fa-chevron-right"></i>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn-group">
      <div
        class="btn btn-danger calenBtn"
        (click)="monthView()"
        [class.active]="view === 'month'"
      >
        <i class="fa fa-calendar"></i>
      </div>
    </div>
  </div>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (dayClicked)="dayClicked($event)"
    (beforeViewRender)="beforeMonthViewRender($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [refresh]="refresh"
    [eventTemplate]="eventTemplate"
    (eventTimesChanged)="changeTime($event)"
    (beforeViewRender)="beforeDayViewRender($event.body.hourGrid, viewDate)"
    (hourSegmentClicked)="selectHour($event)"
    [events]="events"
    [dayStartHour]="startDay"
    [dayEndHour]="endDayProp"
    [hourSegments]="numOfSegement"
    (eventClicked)="SpliceEvent($event)"
    [eventWidth]="400"

  >
  </mwl-calendar-day-view>
</div>
<div class="box box-solid bg-teal-gradient"></div>
