<!-- <div class="container">
  <div class="row">

    <div class="col-sm-">
      <app-new-angular-calender
      [currentDayForEdit]="date"
      [currentEventValue]="showArrayForEditing"
       (sendDate)="ReciveDate($event)"
      >

      </app-new-angular-calender>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-2">
              <label style="margin: 5px 0px;">Date</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                name=""
                id=""
                readonly
                class="form-control"
                value="2019-3-20"
                [(ngModel)]="dateJourny"
                placeholder="Date"
              />
            </div>
          </div>



          <div class="input-group">
            <div class="col-sm-2" style="margin: auto">
              <label for="" >Territory</label>
            </div>
            <div class="col-sm-10">
              <div class="search-div" >
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                    <input
                    type="text"
                    type="text"
                name=""
                id=""
                class="form-control"
                [value]="territoryName"
                placeholder="Territory"
                readonly
                    />
                  </div>
                </div>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Customers</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="arrayOfCustomersName"
                (selectedData)="ResiveCustomer($event)"
                [from]="'plan'"
                [placeholderValue]="'Select Customers'"
              >
              </app-auto-complate-search>
            </div>
          </div>


        </div>
        <div class="alert alert-success" role="alert" *ngIf="success">
          {{ Responsemessage }}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="error">
          {{ Responsemessage }}
        </div>
        <div class="div-btns">
          <button class="btn btn-dark" (click)="handleSubmitAddJournyPlan()">
            Submit
          </button>

          <button class="btn btn-light" (click)="onPressCancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6">
        <app-calender
          [customerTime]="customerTime"
          [resetAllValues]= "resetAllValues"
          (selectedTime)="ReciveTime($event)"
         (sendDate)="ReciveDate($event)"
         (spliceCustomer)="handleSpliceCustomerArray($event)"
         ></app-calender>
      </div> -->

        <div class="col-sm-12" *ngIf="pressOK">
            <div class="btn-cancle">
                <button type="button" class="btn btn-info ">
          {{ territoryName }}

        </button>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="!pressOK">
            <div class="card">
                <div class="row">
                    <!--

            <div class="input-group">
              <div class="col-sm-2"  style="margin: auto">
                <label for="" >Territory</label>
              </div>
              <div class="col-sm-10">


                <div class="search-div" >
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-search "></i></span>
                      <input
                      type="text"
                      name=""
                      id=""
                      class="form-control"
                      (keyup)="SearchFrom('searchTerritory')"
                      (selectItem)="onChange($event, 'searchTerritory')"
                      [ngbTypeahead]="search"
                      placeholder="Select Territory"
                      />
                    </div>
                  </div>
              </div>
            </div> -->
                </div>
            </div>
        </div>


    </div>
    <div class="row">

        <div class="col-sm-6" *ngIf="pressOK">
            <div class="card calender">


                <app-new-angular-calender [customerTime]="customerTime" (sendDate)="ReciveDate($event)" (selectedTime)="ReciveTime($event)" [resetAllValues]="resetAllValues" (spliceCustomer)="handleSpliceCustomerArray($event)" [currentEventValue]="showArrayForEditing"
                    [currentDayForEdit]="date"></app-new-angular-calender>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn-plus">
                <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="card">
                <div>
                    <app-plan-map [latLngArray]="allCustomers" [territoryLatLng]="territoryLatLng" (selectedCustomer)="onReciveSelectedCustomer($event)"></app-plan-map>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Customer</h4>
                    <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group">
                            <div class="col-sm-2">
                                <label for="">Customers</label>
                            </div>
                            <div class="col-sm-10">
                                <app-auto-complate-search [dataSource]="arrayOfCustomersName" (selectedData)="ResiveCustomer($event)" [from]="'plan'" [placeholderValue]="'Select Station'">
                                </app-auto-complate-search>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
            Ok
          </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="success">
        {{ Responsemessage }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ Responsemessage }}
    </div>
</div>
<div class="div-btns" *ngIf="territoryCode && arrayOfCustomerSelected.length > 0">
    <button class="btn btn-dark" (click)="handleSubmitAddJournyPlan()">
    Submit
  </button>

    <button class="btn btn-light" (click)="onPressCancel()">
    Cancel
  </button>
</div>