
<div class="container">
  <div class="form-group">
    <input
      placeholder="Search For Location"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off"
      type="text"
      class="form-control"
      #search
      [formControl]="searchControl"
    />
  </div>
</div>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"
    (dragEnd)="markerDragEnd($event)" [markerDraggable]="true"
    ></agm-marker>
  </agm-map>
