<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="calender">
                <app-calender class="h-50" (sendDate)="handleChangeDate($event)"></app-calender>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <!-- <div class="col-sm-7">
            <div class="search-div">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                    <input id="email" type="Search" class="form-control search-input" autocomplete="off" (keyup)="onChange($event)" placeholder="Search By Territory ...." />
                </div>
            </div>

        </div> -->
        <div class="col-sm-7">
            <div>
                <a class="btn btn-primary h1 mr-4" routerLink="/pages/plan/add-plan-with-map" routerLinkActive="active">
                    + </a>
                <!-- <a aria-readonly class="btn btn-primary mr-4" routerLink="/pages/plan/add-plan" routerLinkActive="active"> add </a> -->
            </div>
            <div class="table-responsive-md">
                <table class="table table-bordered mt-4" *ngIf="data.length > 0">
                    <thead>
                        <tr>
                            <th style="width: 1%">Action</th>
                            <!-- <th>Company</th> -->
                            <!-- <th>Customer</th> -->
                            <th>Territory</th>
                            <th>Tr.Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data; let i = index">
                            <td>
                                <div class="edit-remove">
                                    <div>
                                        <i class="fa fa-trash" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" (click)="onPressDeleteIcon(d.id.territoryCode, i)"></i>
                                    </div>
                                    <div>
                                        <i class="fa fa-pencil" (click)="onPressEditIcon(d.id.territoryCode)"></i>
                                    </div>
                                </div>
                            </td>
                            <!-- <td class="td-names">{{ d.id.companyCode }}</td> -->
                            <!-- <td class="td-names">{{ d.id.customerCode }}</td> -->
                            <td>{{ d?.territoryName}}</td>
                            <td>{{ d.id.territoryCode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="data.length == 0">
                <h4 style="text-align: center">No Vistits</h4>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Route</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="handelDeleteUser()">Yes</button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>

    </div>
</div>