<div class="container search-add">
    <div class="row align-items-center">
        <div class="col-sm-2">
            <a class="btn btn-primary h1" routerLink="/pages/user/add-user">+</a>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-4">
            <div class="search-div">
                <div class="input-group align-items-center">
                    <span class="input-group-addon"><i class="fa fa-search "></i></span>
                    <input id="email" type="Search" class="form-control search-input" autocomplete="off" (keyup)="onChange($event)" placeholder="Search ....">
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container" *ngIf="!loaded">
    <div class="table-responsive-md">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 1%">Action</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>First Name </th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data; let i = index ">
                    <td>
                        <div class="edit-remove">
                            <div>
                                <i class="fa fa-trash" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" (click)="onPressDeleteIcon(d.userId, i)"></i>
                            </div>
                            <div>
                                <i class="fa fa-pencil" (click)="onPressEditIcon(d.userId)"></i>
                            </div>
                        </div>
                    </td>
                    <td (click)="onPressEditIcon(d.userId)">{{d.userName}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.firstName}}</td>
                    <td>{{d.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ngb-pagination class="pageing" *ngIf="!seaching" (pageChange)="PageChange($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems"></ngb-pagination>
    <div>

    </div>
</div>
<div class="container" *ngIf="!loaded">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{Responsemessage}}
    </div>
</div>
<div class="loaded" *ngIf="loaded">
    <app-loader></app-loader>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete User</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="handelDeleteUser()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>

    </div>
</div>