<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="territoryName" id="" class="form-control" placeholder="" aria-describedby="helpId" value="{{this.userTerritory.territory.name1}}">

        </div>
        <div class="form-group">
            <label for="">Region</label>
            <input type="text" name="territoryRegion" id="" class="form-control" placeholder="" aria-describedby="helpId" value="{{this.userTerritory.territory.region.regionName}}">

        </div>

    </form>
</div>