    <div class="input-group">
      <div class="col-sm-2">
        <label for="">Station Type</label>
      </div>
      <div class="col-sm-10">
        <select
          name=""
          id="selectDataSales"
          class="form-control select"
          (change)="onSelectCustomerType($event)"
        >
      <option value="" selected hidden disabled>Select Station Type</option>
          <option
            value=""
            *ngFor="let c of customersType"
            [value]="c.customerTypeCode"
            >{{ c.customerTypeName }}</option
          >
        </select>
      </div>
    </div>
