h6
  color: #a7abc3
p
  font-size: 13px
  color: #282a3c
  font-family: cursive
  &:hover
    text-decoration: underline
    cursor: pointer

.row
  margin: 10px 0px 20px 0px
  .border-right
    border-right: 3px solid #5a9bdc!important
  &:nth-of-type(even)
    .border-right
      border-right: 3px solid #d08484 !important


.card-header
  background-color: #ffffff
  padding: 20px
.card-body
  max-height: 400px
  overflow: auto


