<div class="card-header">
  <h6 style="color: #282a3c">Resent Activities</h6>
</div>
<div class="card-body">
    <div class="row" *ngFor="let a of logs; let i = index">
        <div class="col-sm-2 border-right" >
          <h6 style="text-align: center; line-height: 50px">{{a?.logDate}} </h6>
        </div>
        <div class="col-sm-10 " >
          <h6>{{a?.logMessage}}</h6>
          <p>In {{a?.logger}}</p>
        </div>
      </div>
</div>
