<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h4>Basic Info</h4>
        <div class="row">
          <!-- <div class="input-group">
              <div class="div-img col-sm-12">
                <img src="https://i.stack.imgur.com/l60Hf.png" alt="" />
              </div>
            </div> -->

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Customer Code</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.customerCode"
                readonly
              />
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Name</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customer.name1"
                placeholder="Name"
                readonly
              />
            </div>
          </div>
          <div class="input-group">
              <div class="col-sm-2">
                <label for="">Address</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.address"
                  placeholder="Address"
                  readonly
                />
              </div>
            </div>

          <div class="input-group">
              <div class="col-sm-2">
                <label for=""> Code</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.postalCode"
                  placeholder="Code"
                  readonly
                />
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label for="">Telephone</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="number"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.telephone"
                  placeholder="Telephone"
                  readonly
                />
              </div>
            </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Country</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="countriesNames"
                [from]="'country'"
                (selectedData)="onChange($event)"
                [name]="customer?.country?.countryName"
                [placeholderValue]="'Select Country'"
                [readOnly]="true"
              ></app-auto-complate-search>
            </div>
          </div>



          <div class="input-group">
            <div class="col-sm-2">
              <label for="">City</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="goverNames"
                [from]="'gover'"
                (selectedData)="onChange($event)"
                [name]="customer?.governorate?.governorateName"
                [placeholderValue]="'Select City'"
                [readOnly]="true"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Region</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="regionsNames"
                [from]="'region'"
                (selectedData)="onChange($event)"
                [name]="customer?.region?.regionName"
                [placeholderValue]="'Select Region'"
                [readOnly]="true"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Industry</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="industriesNames"
                [from]="'industry'"
                (selectedData)="onChange($event)"
                [name]="customer?.industry?.industryName"
                [placeholderValue]="'Select Industy'"
                [readOnly]="true"
              ></app-auto-complate-search>
            </div>
          </div>

          <app-customer-seles-data
            style="width: 100%"
            [dataSource]="customerSalesData"
          ></app-customer-seles-data>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-customer-map
        [curreentLng]="customer.longitude"
        [currentLat]="customer.latitude"
      ></app-customer-map>
      <div class="card">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Latitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.latitude"
                readonly
              />
            </div>
          </div>
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Longitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.longitude"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 margin">
      <app-customer-attach-edit
        [customerCode]="customer.customerCode"
        [dataSource]="customerAttach"
      ></app-customer-attach-edit>
    </div>

    <div class="col-sm-6 margin">
      <app-customer-assets-edit
        [customerCode]="customer.customerCode"
        [dataSource]="customerAsset"
      ></app-customer-assets-edit>
    </div>
    <div class="col-sm-6 margin">
      <app-customer-contact-edit
        [customerCode]="customer.customerCode"
        [dataSource]="customerContact"
      ></app-customer-contact-edit>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ Responsemessage }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ Responsemessage }}
  </div>
  <div class="div-btn">
    <button class="btn btn-light" (click)="onPressCancel()">Cancel</button>
  </div>
</div>
