.div-img
  width: 80%
  height: 200px
  margin: auto
  img
    width: 100%
    height: 100%
.input-group
  margin: 10px 0px
.card
  padding: 0px 15px
  h4
    margin: 20px auto
    border-bottom: 1px solid
    color: #a09e9e
.margin
  margin: 20px 0px
.div-btn
  display: flex
  justify-content: space-around
  button
    width: 33%
