<div class="container" *ngIf="!loaded">
    <div class="card">
        <div class="input-group">
            <div class="col-sm-3">
                <label for="">Active</label>
            </div>
            <div class="col-sm-9 ui-switch">
                <ui-switch size="small" color="#17a2b8" defaultBgColor="#d6d2d2" [(ngModel)]="userTerritory.active">
                </ui-switch>
            </div>
        </div>
        <div class="input-group">
            <div class="col-sm-3">
                <label for="">User</label>
            </div>

            <div class="col-sm-7">
                <app-auto-complate-search [dataSource]="userNames" [from]="'users'" (selectedData)="onChange($event)" [name]="userTerritory?.user?.userName" [placeholderValue]="'Select User Name'">
                </app-auto-complate-search>
            </div>
            <div class="col-2">
                <button class="btn btn-light" data-toggle="modal" data-target="#myModal">+</button>
            </div>
        </div>

        <div class="input-group">
            <div class="col-sm-3">
                <label for="">Car Number</label>
            </div>

            <div class="col-sm-9">
                <input type="number" name="" id="" class="form-control" [(ngModel)]="userTerritory.carNumber" placeholder="Car Number" />
            </div>
        </div>
        <div class="messages">
            <div class="alert alert-success" role="alert" *ngIf="success">
                {{ Responsemessage }}
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{ Responsemessage }}
            </div>
        </div>
        <!-- <div class="div-btns-user border-bottom">
            <button class="btn btn-light" data-toggle="modal" data-target="#myModal">Add New User</button>
        </div> -->
        <div class="div-btns ">
            <button class="btn btn-light" (click)="onPressBack()">Back</button>
            <button class="btn btn-dark" (click)="handleNext()">Next</button>
        </div>
    </div>
</div>
<div *ngIf="loaded" class="loaded">
    <app-loader></app-loader>
</div>
<app-add-user-modal (newUser)="ReciveNewUser($event)"></app-add-user-modal>