/* You can add global styles to this file, and also import other style files */

@import "~nouislider/distribute/nouislider.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(199, 199, 199);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #c9d2d2;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(199, 199, 199);
}

body {
    background-color:#eceff4;
}