

    <table class="table ">
      <thead>
        <tr>
          <th >
            Customer</th>
          <th>
            Country</th>
          <th>
            City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of dataSource; let i = index">

          <td class="td-names">{{ d?.customer }}</td>
          <td class="td-names">{{ d?.country }}</td>
          <td class="td-names">{{ d?.city}}</td>
        </tr>
      </tbody>
    </table>




