h4
  margin: 20px 0px
.edit-remove
    display: flex
    justify-content: space-around
    height: 40px
    width: 100%
    div
      border-right: 1px solid #dadfe6
      border-left:  1px solid #dadfe6
      border-top: 0px
      border-bottom: 0px
      width: 100%
      i
        padding: 10px
.search-div
    margin-top: 30px
.fa-search
    position: absolute
    z-index: 99
    top: 10px
    left: 2%
    color: gray
.search-input
    padding: 6px 49px
/deep/ .dropdown-item.active, .dropdown-item:active
     background: #6da3de
/deep/ .page-item.active .page-link
    background: #6c757d
    border-color: #6c757d
/deep/ .pagination
    justify-content: center
td
  padding: 0px
.td-names
  padding: 10px
.table
  border: 1px solid #dadfe6
  th
    border: 1px solid #dadfe6
    color: #282a3c
    font-weight: 500
  td
    border: 1px solid #dadfe6
    color: #282a3c
    &:hover
      background: #e4f7fa
  tr:nth-child(even)
    background: #f5f7fc
    vertical-align: inherit
    &:hover
      background: #e4f7fa
.fa-pencil
  color: #a4abb3
  font-size: 18px
  &:hover
     color: #5dcfe3

.fa-trash
  color: #a4abb3
  font-size: 18px
  &:hover
    color: #f16d6d

.container
  overflow-x: overlay
.btn-add-Payment
  display: flex
  justify-content: center
  width: 100%
  margin: 30px 0px
  button
    width: 50%
/deep/ .dropdown-menu.show
    width: 100% !important
.loaded
  text-align: center
.modal-footer
  display: flex
  justify-content: center
  button
    width: 40%
.modal
  margin: 12% auto
.table
  margin-bottom: 0px
