<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h4>Basic Info</h4>
        <div class="row">
          <!-- <div class="input-group">
              <div class="div-img col-sm-12">
                <img src="https://i.stack.imgur.com/l60Hf.png" alt="" />
              </div>
            </div> -->

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Station Code</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.customerCode"
                readonly
              />
            </div>
          </div>
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Active</label>
            </div>

            <div class="col-sm-9">
              <ui-switch
                size="small"
                color="#17a2b8"
                defaultBgColor="#d6d2d2"
                [(ngModel)]="customer.active"

              ></ui-switch>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Name</label>
            </div>
            <div class="col-sm-10">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [(ngModel)]="customer.name1"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="input-group">
              <div class="col-sm-2">
                <label for="">Address</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.address"
                  placeholder="Address"

                />
              </div>
            </div>

          <div class="input-group">
              <div class="col-sm-2">
                <label for=""> Code</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.postalCode"
                  placeholder="Code"
                />
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label for="">Telephone</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="number"
                  name=""
                  id=""
                  class="form-control"
                  [(ngModel)]="customer.telephone"
                  placeholder="Telephone"
                />
              </div>
            </div>

          <!-- <div class="input-group">
            <div class="col-sm-2">
              <label for="">Country</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="countriesNames"
                [from]="'country'"
                (selectedData)="onChange($event)"
                [name]="customer?.country?.countryName"
                [placeholderValue]="'Select Country'"
              ></app-auto-complate-search>
            </div>
          </div> -->



          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Government</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="goverNames"
                [from]="'gover'"
                (selectedData)="onChange($event)"
                [name]="customer?.governorate?.governorateName"
                [placeholderValue]="'Select City'"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Area</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="regionsNames"
                [from]="'region'"
                (selectedData)="onChange($event)"
                [name]="customer?.region?.regionName"
                [placeholderValue]="'Select Region'"
              ></app-auto-complate-search>
            </div>
          </div>

          <div class="input-group">
            <div class="col-sm-2">
              <label for="">Industry</label>
            </div>
            <div class="col-sm-10">
              <app-auto-complate-search
                [dataSource]="industriesNames"
                [from]="'industry'"
                (selectedData)="onChange($event)"
                [name]="customer?.industry?.industryName"
                [placeholderValue]="'Select Industy'"
              ></app-auto-complate-search>
            </div>
          </div>

          <app-customer-seles-data
            style="width: 100%"
            (sendCustomerSeles)="ResviceData($event, 'customerSalesData')"
            [dataSource]="customerSalesData"
          ></app-customer-seles-data>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <app-customer-map
        (sendLatLng)="OnReciveLatLng($event)"
        [curreentLng]="customer.longitude"
        [currentLat]="customer.latitude"
      ></app-customer-map>
      <div class="card">
        <div class="row">
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Latitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.latitude"
                readonly
              />
            </div>
          </div>
          <div class="input-group">
            <div class="col-sm-3">
              <label for="">Longitude</label>
            </div>
            <div class="col-sm-9">
              <input
                type="text"
                name=""
                id=""
                class="form-control"
                [value]="customer.longitude"
                readonly
              />
            </div>
          </div>
        </div>
      </div>
    </div>

 

  </div>
  <div class="alert alert-success" role="alert" *ngIf="success">
    {{ Responsemessage }}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    {{ Responsemessage }}
  </div>
  <div class="div-btn" style="margin: 40px 0px;">
    <button class="btn btn-light" (click)="onPressCancel()">Cancel</button>
    <button class="btn btn-dark" (click)="onPressSave()">Submit</button>
  </div>
</div>
