@import '../../../variables/variables.sass'

ul
    display:  inline-flex


    li
        list-style: none
        margin: 0 16px
        a
            font-size: 30px
            font-weight: 500
            text-decoration: none

            img 
                
            
            h5 
                visibility: hidden  
    
        +medium 
            margin: 0
        +phone
            margin: 0 
 
  
       
    li:hover
        transform: scale(1.1,1.1)
        transition: transform 1s ease-in-out .3s;
        
        a
            color: #007bff !important
            h5 
                visibility: visible
                transition: visibility 1s ease-in-out;
            img
                color: #0056b3
    
        
p
  font-size: xx-large
  color: #ced4da
.div-logo 
    width: 20%
    height: 100%
    img 
        width: 100%
        height: 100%




    