<div class="container pt-3">
    <!-- <div class="row"> -->
    <!-- <div class="col-12"> -->

    <!-- <div class="div-logo">
                <img class="w-25" src="./../../../assets/logo.svg" alt="">
            </div>
            <p>{{ companyName }}</p> -->
    <!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let n of navs">
                <a class="nav-link" routerLink="{{ n.link }}" routerLinkActive="active" *ngIf="n.name.indexOf('Edit')">{{ n.name }} <span class="sr-only">(current)</span></a
        >
        <a aria-readonly class="nav-link" routerLink="{{ n.link }}" routerLinkActive="active" *ngIf="!n.name.indexOf('Edit')"
          >{{ n.name }} <span class="sr-only">(current)</span></a
        >
      </li>
    </ul> -->
    <div class="m-auto  text-center">
        <ul class="p-0">

            <li class="text-center">
                <a routerLink="/pages/user" routerLinkActive="active" (click)="handleViewProfile()"><i class="fa fa-user"></i> <h5>User</h5></a>
            </li>

            <li class="text-center">
                <a routerLink="/pages/customer" routerLinkActive="active" (click)="handleViewProfile()"><i class="fa fa-users"></i><h5>customer</h5></a>
            </li>

            <li class="text-center">
                <a routerLink="/pages/root" routerLinkActive="active" (click)="handleViewProfile()"><i class="fa fa-road"></i><h5>Route</h5></a>
            </li>
            <li class="text-center ">
                <a routerLink="/pages/plan" routerLinkActive="active" (click)="handleViewProfile()"><img class="px-2" src="./../../../assets/Inventory-48.ico">
                    <h5>Plan</h5>
                </a>
            </li>
        </ul>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>