<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">

                <p class="coded-by">Copyright © 2019-2020 <span> Xpress Integration</span> All rights reserved. </p>
            </li>

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <div class="icon-soical">
                <i class="fa fa-facebook-f"></i>
            </div>
            <div class="icon-soical">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="icon-soical">
                <i class="fa fa-chrome"></i>
            </div>
        </div>

    </div>
</nav> -->

<footer class="bg-light">
    <!-- <div class="wrapper">
        <div class="row">
            <div class=" logo">
                <figure><img class="img-fluid" src="./../../../assets/logo.svg" alt=""></figure>
            </div>
            <div class="col-lg-4 col-md-12">
                <h5>OUR POLICIES</h5>

                <p>FAQ</p>
                <p>Policy</p>
                <p>Cookies Policy</p>
                <p>Terms and Conditions</p>

            </div>
            <div class="col-lg-4 col-md-12">
                <h5>ABOUT US</h5>
                <p class="mx-0">Our company</p>
                <p class="mx-0">Our history</p>
                <p class="mx-0">Contact Us</p>


            </div>
            <div class="col-lg-4 col-md-12">
                <h5>FOLLOW US</h5>

                <div class="followUs">
                    <div class="form-inline my-2 my-lg-0">
                        <div class="icon-soical">
                            <i class="fa fa-facebook-f"></i>
                        </div>
                        <div class="icon-soical">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="icon-soical">
                            <i class="fa fa-chrome"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div> -->
    <div class="copyRight m-auto py-1">
        <p class="coded-by my-3 px-2">Copyright © 2019-2020 <span> Xpress Integration</span> All rights reserved. </p>
    </div>
</footer>