.card
  padding: 15px
  h4
    margin: 20px auto
    border-bottom: 1px solid
    color: #a09e9e
.input-group
  margin: 10px 0px
.div-btn
  display:  flex
  justify-content: center
  label
    width: 80%
  button
    width: 80%
.image
  width: 100%
  height: 250px
  margin: 10px 0px
  img
    width: 100%
    height: 100%
.array-images
  margin: 0px 15px
.image-array
  width: 100%
  height: 150px
  margin: 29px 0px
  img
    width: 100%
    height: 100%
.fa-close
  color: #007bff
.select
  border-radius: 20px
  background-color: #f8f9fa
